*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: white;
    width: 750px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 15px;
    text-align: center;
    position: relative;
}
.video-player{
    width: 100%;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 10px;
    padding: 0;
    padding-bottom: 0px;
    position: relative;
}
.video-player video{
    width: 100%;
    border-radius: 10px;
    margin-bottom: -4px;
}

.customized{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.video-player:hover .customized{
    animation: fadeIn 0.5s ease-in;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0.4;
    }75%{
        opacity: 0.8;
    }100%{
        opacity: 1;
    }
  }
.progress-container{
    background-color: red;
    height: 4px;
    margin-bottom: 15px;
    width: 100%;
}
.progress-bar{
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    cursor: pointer;
}
.progress{
    background-color: #1db954;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    transition: width 0.1s linear;
}
.customized-video{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 20px 20px;
    
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.volume-control{
    display: flex;
    align-items: center;
}
.volume-control i {
    color: rgb(234, 234, 234);
    font-size: 18px;
    margin-right: 10px;
}

.volume-control input{
    -webkit-appearance: none;
    width: 90px;
    height: 5px;
    outline: none;
    border-radius: 6px;
    background-color: #e0e0e0;
}

#volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #1db954;
    /* clip-path: circle(50% at 50% 50%); */
    border-radius: 50%;
}

.control-time p{
    font-size: 14px;
    color: rgb(234, 234, 234);
    text-align: center;
}

.change-video{
    display: flex;
    gap: 10px;
    margin-right: 20px;
}
.controls-btn{
    background:none;
    border: none;
    font-size: 24px;
    padding: 0 10px;
    margin: 0 15px;
    color: rgb(234, 234, 234);
    transition: color 0.3s ease;
    cursor: pointer;
}

#speed{
    padding:1px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: white;
    font-size: 14px;
    cursor: pointer;
    width: 60px;
    cursor: pointer;

}

#speed option{
    color: white;
    background-color: #333;
}